*{
    overflow-x: hidden;
}
.a{
    overflow-y: hidden;
}
h4{
    overflow-y: hidden;
}

h3{

    overflow-y: hidden;
}

h1{

    overflow-y: hidden;
}
.checked {
    color: orange;
  }
h5{
  overflow-y: hidden;

}
h2{
  overflow-y: hidden;
}
h6{
  overflow-y: hidden;
}
i{
  overflow-y: hidden;

}
  .job-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .job-card:hover {
    transform: scale(1.05);
  }
  .job-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .job-details {
    padding: 20px;
  }

  .job-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }

  .job-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }

  .job-data {
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 5px;
  }

  .H-btn:hover{
    color: white;
    background-color:yellowgreen;

  }
  .bg-img1{
    background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?w=1380&t=st=1705719758~exp=1705720358~hmac=5ce0b1566a0e58be34359e3ff8fb3eecba6295e8cde6dec9819d7c91e6cc43c1');
    background-size: contain;
  }

  .card-title{
    overflow-y: hidden;
  }
  span{
    overflow-y: hidden;

  }

  .nav-link:hover{
    font-size: large;
    
  }

  .Home-img{
    /* background-image: url('https://papers.co/wallpaper/papers.co-vy12-simple-white-pattern-background-8-wallpaper.jpg'); */
    background-image: url('https://www.fg-a.com/wallpapers/white-background-geo-shapes.jpg');
    background-size: contain;
  }

  .home-bgimg{
    background-image: url('https://thumbs.dreamstime.com/b/white-triangle-mosaic-background-geometric-abstract-eps-60019755.jpg');
    background-size: contain;
  }
  .fixed-sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
  }
  
  .main-content {
    overflow-y: auto;
    padding-left: 220px;
  }

  .notification-bgimg{
    background-image: url('https://img.freepik.com/premium-vector/abstract-composition-with-connecting-dots-lines-white-backround-futuristic-geometric-composition-background-design-works-colorful-wallpaper_691453-108.jpg?w=740');
    background-size: contain;
  }
  
  .side-menu{
    height: 40px;
    padding: 10px;
    overflow-y: hidden;
    
  }

  .side-menu:hover{
    height: 40px;
    border: 1px ;
    padding: 10px;
    overflow-y: hidden;
    background-color: #c0e1e4;
    border-radius: 10px;
    color: aqua;
  }